.statisticPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.weekProgressWidget table {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 20px 25px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.weekProgressWidget table thead tr {
  border-radius: 8px;
  width: 100%;
  background-color: #000;
  color: white;
  height: 45px;
}

.weekProgressWidget table thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.weekProgressWidget table thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.weekProgressWidget table * {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.secondContainer {
  display: flex;
  gap: 5%;
}

.strikeWidget {
  border-radius: 22px;
  width: 30%;
  height: 208px;
  box-shadow: 0 10px 22px 0 rgba(149, 173, 254, 0.3);
  padding: 40px 0 30px 40px;
  background: #fff url("../img/bg-statisticPage-strikeWidget.jpg");
  background-position: center;
  background-size: 361px 176px;
  background-repeat: no-repeat;
}

.strikeWidget * {
  font-family: var(--third-family);
  color: #6c6c6c;
}
.currentStrikeHeader,
.longestStrikeHeader {
  font-weight: 500;
  color: #373737;
  margin-bottom: 4px;
}
.currentStrikeHeader {
  font-size: 36px;
}
.longestStrikeHeader {
  font-size: 24px;
}
.currentStrikeText,
.longestStrikeText {
  color: #6c6c6c;
}
.currentStrikeText {
  font-size: 14px;
  margin-bottom: 27px;
}
.longestStrikeText {
  font-size: 11px;
}

.targetWidgetContainer {
  display: grid;
  width: 65%;
  gap: 5% 5%;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

.targetWidgetTaskContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background: #fff;
  padding: 16px 20px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  color: #2f2f2f;
}

.targetWidgetPercent {
  font-weight: 700;
  color: #b0b0b0;
}
.targetWidgetPercent.achieved {
  color: #37c871;
}

.targetWidgetTaskName {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.targetWidgetAchievedStatus {
  color: #959595;
}
.targetWidgetAchievedStatus.achieved {
  padding: 1.5px 10px;
  color: #37c871;
  border-radius: 35px;
  background: #d7ffe7;
}
